<div class="panel panel-primary">
    <div class="panel-heading">
        {{ pageTitle }}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">User name:</div>
            <div class="col-md-6">
                <input type="text"  [(ngModel)]="userName"/>
                <button class="btn btn-primary" (click) = 'onGetRepositoryDetailsClicked()'>Get Repository Details</button>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table" *ngIf='repositories && repositories.length'>
                <thead>
                    <tr>
                        <th>Repository Id</th>
                        <th>Repository Name</th>
                        <th>Repository Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#repository of repositories'>
                        <td>{{ repository.id }}</td>                        
                        <td>{{ repository.name }}</td>                        
                        <td>{{ repository.full_name }}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


